body {
    background-size: 1350px 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}


#box-one {
margin: auto;
width: 1000px;
padding: 10px;
background-color: #ffffff;
border: 5px solid #ffffff;
}

#box-two {
margin: auto;
width: 1000px;
padding: 10px;
background-color: #ffffff;
font-family: verdana;
font-size: 100%;
text-align: center;
padding-top: 20px;
}

#box-three {
margin: auto;
width: 1000px;
padding: 10px;
background-color: #2b8cbe;
border-bottom: 5px solid #2b8cbe;
border-right: 5px solid #2b8cbe;
border-left: 5px solid #2b8cbe;
opacity: 0.8;
font-family: verdana;
font-size: 100%;
text-align: center;
padding-top: 20px;
}

#line-text{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #f7fbff;
  border-top:5px solid #3f007d;
  border-bottom: 5px solid #3f007d;
  border-right: 5px solid #3f007d;
  border-left: 5px solid #3f007d;
  opacity: 0.8;
  transform: translate(-250px, 0px);
  color: #3f007d;
}

#line{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #ffffff;
  /* border-top:5px solid #bd0026;
  border-bottom: 5px solid #bd0026;
  border-right: 5px solid #bd0026;
  border-left: 5px solid #bd0026; */
  opacity: 0.8;
  transform: translate(-250px, 0px);
  color: #a00026;
}

#spider{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #ffffcc;
  border-top:5px solid #3f007d;
  border-bottom: 5px solid #3f007d;
  border-right: 5px solid #3f007d;
  border-left: 5px solid #3f007d;
  opacity: 0.8;
  transform: translate(250px, -70px);
  color: #e31a1c;
}

#spider-text{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #ffffcc;
  border-top:5px solid #3f007d;
  border-bottom: 5px solid #3f007d;
  border-right: 5px solid #3f007d;
  border-left: 5px solid #3f007d;
  opacity: 0.8;
  transform: translate(250px, -70px);
  color: #3f007d;
}

#scatter{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #deebf7;
  border-top:5px solid #3f007d;
  border-bottom: 5px solid #3f007d;
  border-right: 5px solid #3f007d;
  border-left: 5px solid #3f007d;
  opacity: 0.8;
  transform: translate(200px, -100px);
}

#scatter2{
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: #d4b9da;
  border-top:5px solid #3f007d;
  border-bottom: 5px solid #3f007d;
  border-right: 5px solid #3f007d;
  border-left: 5px solid #3f007d;
  opacity: 0.8;
  transform: translate(200px, -100px)
}

.datamaps {
  position: relative;
  display: inline-block;
  text-align: center;
}

.datamaps-legend {
    color: red;
    right: -100px;
    top: -650px;
    position: relative;
    display: inline-block;
    text-align: center;
 }

.datamaps-legend dl {
  text-align: center;
  display: inline-block;
  position: static;
}

.both {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: red;
  border-radius: 12px;
}

.both:hover {
  background-color: red; /* Green */
  color: white;
}

.women {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: red;
  border-radius: 12px;
}

.women:hover {
  background-color: red; /* Green */
  color: white;
}

.men {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: red;
  border-radius: 12px;
}

.men:hover {
  background-color: red; /* Green */
  color: white;
}

.legend{
  font-family: verdana;
  font-size: 70%;
  text-align: center;
}

.no-data{
  font-family: verdana;
  font-size: 150%;
  text-align: left;
}

.title{
  font-family: verdana;
  font-size: 110%;
  text-align: middle;
}

.d3-tip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

select{
  color: #bd0026;
}
/* #container {
  margin: auto;
  width: 1000px;
  padding: 10px;
  background-color: #FF0000;
  border-bottom: 5px solid #FF0000;
  border-right: 5px solid #FF0000;
  border-left: 5px solid #FF0000;
  opacity: 1.0;
}

path {
      opacity: 3.0;
    } */

h1 {
    color: #ffffff;
    font-family: verdana;
    font-size: 200%;
    text-align: center;
    padding-top: 20px;
}

h2 {
    color: #FF0000;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
}

h3 {
    color: black;
    font-family: verdana;
    font-size: 100%;
    text-align: center;
    padding-top: 20px;
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
